<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/stylesheets/styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navigation">
            <a href="/dmindex" class="button">Dark Mode</a>
        </nav>
        <h1 class="header">Student Grade Table</h1>
        <table class="table" id="student-table">
            <thead>
                <tr>
                    <th><a href="/?<%= handleSortQuery('name') %>" id="thead-name">Name
                        </a></th>
                    <th><a href="/?<%= handleSortQuery('grade') %>" id="thead-grade">Grade
                        </a></th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach( user => { %>
                    <tr>
                        <% if(user._id == id) { %> 
                            <td><input id="name-input"
                                form="updateForm"
                                type="text"
                                name="name"
                                value=<%= name %>
                                placeholder="Name" required />
                            <div class='error'><%= errorName %></div>
                            </td>
                            <td><input id="grade-input"
                                form="updateForm"
                                type="number"
                                value=<%= grade %>
                                name="grade"
                                placeholder="Grade" required />
                            <div class='error'><%= errorGrade %></div>
                            </td>
                            <td>
                                <a href="/edit/<%= user._id %>/?<%= sortQuery %>&name=<%= name %>&grade=<%= grade %>" class="more-btn">Reset</a>
                                <button form="updateForm" type="submit" class="more-btn">Save</button>
                                <a href="/?<%= sortQuery %>" class="more-btn">Cancel</a>
                            </td>
                        <% } else { %>
                            <td class="name-col"><span
                                data-field="name"><%= user.name %></span></td>
                            <td class="grade-col"><span
                                data-field="grade"><%= user.grade %></span></td>
                            <td>
                                <div class="option">
                                    <button class="option-btn">...</button>
                                    <div class="option-list">
                                    <a href="/edit/<%= user._id %>/?<%= sortQuery %>&name=<%= user.name %>&grade=<%= user.grade %>" class="edit-btn">Edit</a>
                                    <a href="/delete/<%= user._id %>" class="delete-btn">Delete</a>
                                    </div>
                                </div>
                            </td>
                        <% } %>  
                    </tr>
                <% }); %>
            </tbody>
            <tfoot>
                <tr>
                    <form id="add-form">
                        <td><input id="name-input"
                                form="studentForm"
                                type="text"
                                name="name"
                                placeholder="Name" required />
                        </td>
                        <td><input id="grade-input"
                                form="studentForm"
                                type="number"
                                name="grade"
                                placeholder="Grade" required />
                        </td>
                        <td>
                            <div class="option">
                                <button class="option-btn"
                                    form="studentForm"
                                    id="btn-add"
                                    type="submit">Add</button>
                            </div>
                        </td>
                    </form>
                </tr>
            </tfoot>
        </table>
        <form id="studentForm" method="POST" action="/"></form>
        <form id="updateForm" method="POST" action="/save/<%= id %>/?name=<%= name %>&grade=<%= grade %>&<%= sortQuery %>"></form>
    </body>
</html>
