<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/stylesheets/styles.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navigation">
            <a href="/dmindex" class="button">Dark Mode</a>
        </nav>
        <h1 class="header">Student Grade Table</h1>
        <table class="table" id="student-table">
            <thead>
                <tr>
                    <th><a href="/?<%= handleSortQuery('name') %>" id="thead-name">Name
                        </a></th>
                    <th><a href="/?<%= handleSortQuery('grade') %>" id="thead-grade">Grade
                        </a></th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td class="name-col"><span
                                data-field="name"><%= user.name %></span></td>
                        <td class="grade-col"><span
                                data-field="grade"><%= user.grade %></span></td>
                        <td>
                            <div class="option">
                                <button class="option-btn">...</button>
                                <div class="option-list">
                                    <a href="/edit/<%= user._id %>/?name=<%= user.name %>&grade=<%= user.grade %>&<%= sortQuery %>" class="edit-btn">Edit</a>
                                    <a href="/delete/<%= user._id %>/?<%= sortQuery %>" class="delete-btn">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
            <tfoot>
                <tr>
                    <form id="add-form">
                        <td><input id="name-input"
                                form="studentForm"
                                type="text"
                                name="name"
                                value="<%= (inputs.name) ? inputs.name : '' %>"
                                placeholder="Name" required />
                                <% if (errors && errors.name) { %>
                                    <div class='error'><%= errors.name %></div>
                                <% } %>
                        </td>
                        <td><input id="grade-input"
                                form="studentForm"
                                type="number"
                                name="grade"
                                value="<%= (inputs.grade) ? inputs.grade : '' %>"
                                placeholder="Grade" required />
                                <% if (typeof errors !== undefined && errors.grade) { %>
                                    <div class='error'><%= errors.grade %></div>
                                <% } %>
                        </td>
                        <td>
                            <div class="option">
                                <button class="option-btn"
                                    form="studentForm"
                                    id="btn-add"
                                    type="submit">Add</button>
                            </div>
                        </td>
                    </form>
                </tr>
            </tfoot>
        </table>
        <form id="studentForm" method="POST" action="/?<%= sortQuery %>"></form>
        <script>
            <% if (errors.name) { %>
                alert('<%= errors.name %>');
            <% } %>
        </script>
    </body>
</html>
